<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🎓 Student Performance Predictor</h1>

<form action="/predict" method="POST">

<label>Hours Studied</label>
<input type="number" name="hours" required>

<label>Sleep Hours</label>
<input type="number" name="sleep" required>

<label>Attendance (%)</label>
<input type="number" name="attendance" required>

<label>Previous Marks</label>
<input type="number" name="previous" required>

<button type="submit">
Predict Marks
</button>

</form>

{% if prediction %}

<h2>
Predicted Final Marks:
{{ prediction }}
</h2>

{% endif %}

</div>

</body>
</html>